django
gunicorn
python-dotenv
whitenoise

# NOTE: Please don't commit GITHUB_TOKEN on GitHub.
# !!! It will be automatically invalidated by GitHub !!!
git+https://${GITHUB_TOKEN}@github.com/app-generator/priv-django-admin-soft-pro@v1.0.13#egg=django-admin-soft-pro

# psycopg2-binary
# mysqlclient
