<!--
=========================================================
* Material Dashboard 2 PRO - v3.0.5
=========================================================

* Product Page:  https://www.creative-tim.com/product/material-dashboard-pro 
* Copyright 2022 Creative Tim (https://www.creative-tim.com)
* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="en">

<head>
  
  {% include 'includes/head.html' %}

  {% block extrastyle %}{% endblock extrastyle %}

</head>

<body class="g-sidenav-show  bg-gray-100 {% block body %}{% endblock body %}">
    {% block header %}
      {% include 'includes/navigation-fullscreen.html' %}
    {% endblock header %}

    {% block content %}{% endblock content %}

    {% block footer %}
      {% include 'includes/footer-fullscreen.html' %}
    {% endblock footer %}

    {% block fixed_plugin %} 
      {% include 'includes/fixed-plugin.html' %}
    {% endblock fixed_plugin %}

    {% include 'includes/scripts.html' %}
  
    {% block extra_js %}{% endblock extra_js %}


</body>

</html>